@model Common.Models.Book
@{
    ViewBag.Title = "Edit Author";
}

<div id="admin">
    <a href="Admin">Back</a>
    <h4>Admin Section</h4>
    <h5><b>Edit Book</b></h5>
    @using (Html.BeginForm("", "Admin"))
    {
        <div style="float: left; margin-top: 10px; width: 100%;">
            <p>ISBN:</p> @Html.TextBoxFor(m => m._isbn, new { @class = "inpadmin" })
        </div>
        <div style="float: left; width: 100%;">
            <p>Title:</p> @Html.TextBoxFor(m => m._title, new { @class = "inpadmin" })
        </div>
        <div style="float: left; width: 100%;">
            <p>Sign Id:</p> @Html.TextBoxFor(m => m._signId, new { @class = "inpadmin" })
        </div>
        <div style="float: left; width: 100%;">
            <p>Publication year:</p> @Html.TextBoxFor(m => m._publicationYear, new { @class = "inpadmin" })
        </div>
        <div style="float: left; width: 100%;">
            <p>Publication Info:</p> @Html.TextBoxFor(m => m._publicationInfo, new { @class = "inpadmin" })
        </div>
        <div style="float: left; width: 100%;">
            <p>Pages:</p> @Html.TextBoxFor(m => m._pages, new { @class = "inpadmin" })
        </div>
        <input class="submlogin" type="submit" value="Save" />
    }
</div>