@model Common.Models.BookDetails
@{
    ViewBag.Title = "Book";
}

<div id="book">
    <a href="#">Back</a>    
    <h4>@Model._book._title</h4>
    <h5>@Model._author._firstname @Model._author._lastname, @Model._book._publicationYear</h5>
    <h5>@Model._book._publicationInfo</h5>
    <p>@Model._classification._description</p>
    <button style="margin-top:30px;" class="submlogin">Borrow this book</button>
</div>