@model Common.Models.Search
@{
    ViewBag.Title = "SearchResult";
}

<div id="form">
    @using (Html.BeginForm("SearchFunc", "Home"))
    {
        @Html.TextBoxFor(m => m._searchData._searchString, new { @class = "inp" })
        <input class="subm" type="submit" value="Search" />
    }
</div>


<div id="searchres">
    <p>Book result for: @Model._searchData._searchString</p>
    <div id="listbox">
        <ul>
            @{
                for (int i = 0; i < @Model._searchResult.bList.Count(); i++)
                {
                    <li><a style="float:left;" href="Book?isbn=@Model._searchResult.bList[i]._isbn">@Model._searchResult.bList[i]._title</a></li>
                }
            }
        </ul>
    </div>
    
    <p>Author result for: @Model._searchData._searchString</p>
    <div id="listbox">
        <ul>
            @{
                for (int i = 0; i < @Model._searchResult.aList.Count(); i++)
                {
                    <li><a style="float:left;" href="Author?aid=@Model._searchResult.aList[i]._id">@Model._searchResult.aList[i]._firstname @Model._searchResult.aList[i]._lastname</a></li>
                }
            }
        </ul>
    </div>
</div>